
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #f1f1f1;
    height: 100vh;
}
h1 {
    font-family: 'Zen Dots',cursive;
    font-size: 20px;
}

p {
    font-family: 'Zen Dots',cursive;
    font-size: 15px;
}

#corps{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#bloc_page {
	margin: auto;
}
#description_et_savoir_plus{
	width: 90%;
	padding: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Zen Dots', cursive;
	color: black;
    background: #f1f1f1;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px;
}

#description_et_savoir_plus p {
    padding: 10px;
}


#identification{
	text-align: center;
}
#identification a{
	text-decoration: none;
	color: white;
}
#clegende{
	width: 250px;
	height: 300px;
	color: white;
}
#test{
	font-family: 'Zen Dots', cursive;
	color: black;
	margin: 20px 30px 0px 30px;
	text-align: center;

}
#test a{
	text-decoration: none;

}

#tests_image{
	margin-top: 15px;
	height:490px;
	width: 90%;
	border-radius: 5px;
	box-shadow: 0px 4px 4px black;
	margin-bottom: 25px;
	position: relative; 
	border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: url('../img/futur.png') no-repeat;
    background-size: 100%;
}
#tests_description{
	position: absolute;
    bottom: 25px;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    color: white;
    font-size: 0.8em;
}
.bouton_rouge{
    position: absolute;
    right: 5px;
    bottom: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    padding:10px;
    text-decoration: none;
    background: midnightblue;
    color: #f1f1f1;
    font-family: 'Zen Dots', cursive;
    animation: boing 20s 2s ease-in-out;
    animation-iteration-count: infinite;

}
/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  position: absolute;
  
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  font-family: 'Zen Dots', cursive;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
  font-family: 'Zen Dots';
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

@keyframes boing{
    0%{
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 2px;
        padding-top: 2px;
        margin-right: 14px;
        margin-bottom: 28px;
        letter-spacing: 50%;

    }
    1.5%{
        padding-right: 8px;
        padding-left: 8px;
        padding-bottom: 13px;
        padding-top: 13px;
        margin-right: 22px;
        margin-bottom: 17px; 
        text-align: justify;
    }
    3%{
        padding-right: 13px;
        padding-left: 13px;
        padding-bottom: 8px;
        padding-top: 8px;
        margin-right: 17px;
        margin-bottom: 22px;
        letter-spacing: 100%;
    }
    6%{
        padding-right: 10px;
    }
}

                /* ANIMATION JAVASCRIPT SCROLL */
.scroll-container {
  height: 100vh;
  min-height: 450px;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.scroll-container:nth-of-type(1) {
 /* background-color: #bdd0c4;*/
}
.scroll-container:nth-of-type(2) {
  /*background-color: #f5d2d3;*/
}
.scroll-container:nth-of-type(3) {
  /*background-color: #9ab7d3;*/
}
.scroll-container:nth-of-type(4) {
  /*background-color: #dfccf1;*/
}

.scroll-container:nth-of-type(even) {
  flex-direction: row-reverse;
}

.scroll-element,
.scroll-caption {
  width: 50%;
}

section.scroll-container {
    height: 70%;
}

.scroll-element {
  min-height: 300px;
  height: 80%;
  /*background-color: #eaeaea;*/
}

.scroll-caption {
  margin: 1rem;
}

/*650*/
@media screen and (max-width: 1300px) {
  .scroll-container,
  .scroll-container:nth-of-type(even) {
    flex-direction: column;
    align-content: inherit;
    display: inline-block;
  }

  .scroll-element {
    height: 100%;
    display: inline-block;
  }

  .scroll-element img {
    width: 90%;
    height: 90%;
    padding-left: 10px;
  }

  .scroll-element,
  .scroll-caption {
    width: 100%;
  }
}

/**Styling scrollable elements*/

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}


.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


                        /* Design Responsive*/

@media screen and (max-width: 1024px){
#bloc_page{
	width: auto;
}
nav{
        width: auto;
        text-align: left;
    }
    nav ul{
        flex-direction: column;
    }
	nav li{
        padding-left: 4px;
        padding-bottom: 4px;
    }
    nav a{
        font-size: 1.1em;
    }
	footer{
		flex-direction: column;
 }   
}