*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f1f1f1;
    height: 100vh;


}

#corps{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#container{
    width: 50%;
    font-family: 'Zen Dots', cursive;
    background: #f1f1f1;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 40px;
    transition: all 0.5s ease;
}



#container h2{
    font-size: 22px;
    padding: 20px;

}

#container hr {
    width: 20%;
    height: 2px;
    margin-left: 20px;
    background: #F1622A;
    border: none;
    animation: surligne .5s 1.5s ease-in-out;
}
/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  position: absolute;
  
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  font-family: 'Zen Dots', cursive;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
  font-family: 'Zen Dots';
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

@keyframes surligne{
    0%{
        width: 20%;
        margin-left: 3%;
    }
    50%{
        width: 0%;
        margin-left: 23%;    
    }
    50.01%{
        width: 0%;
        margin-left: 3%;
    }
    100%{
        width: 20%;
        margin-left: 3%;
    }
}

fieldset{
    padding: 20px;
    margin: 20px;
}

fieldset .nom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

fieldset .nom input{
    width: 50%;
    padding: 10px;
}


form{
    display: flex;
    flex-direction: column;
}

#connexion{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#formlogin{
    padding: 10px;
    font-family: 'Zen Dots', cursive;
    margin-bottom: 10px;
    width: 50%;

}

#formlogin:hover{
    border-radius: 3px;
    background: midnightblue;
    color: #f1f1f1;
    transition: all 0.3s ease;
}

.aligner a {
    text-decoration-color: none;
    color: midnightblue;
}
@media screen and (max-width: 1024px){
#bloc_page{
	width: auto;
}
nav{
        width: auto;
        text-align: left;
    }
    nav ul{
        flex-direction: column;
    }
	nav li{
        padding-left: 4px;
        padding-bottom: 4px;
    }
    nav a{
        font-size: 1.1em;
    }
	footer{
		flex-direction: column;
 }   
}