*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f1f1f1;
    height: 100vh;


}

#corps{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-family: 'Zen Dots', cursive;
    background: #f1f1f1;
    margin: 40px;
}

#container h1{
    font-size: 30px;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}


#container hr {
    width: 27%;
    height: 2px;
    margin-left: 33%;
    background: #F1622A;
    border: none;
    margin-bottom: 4%;
    animation: surligne .5s 1.5s ease-in-out;
}
/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  position: absolute;
  
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  font-family: 'Zen Dots', cursive;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
  font-family: 'Zen Dots', cursive;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

@keyframes surligne{
    0%{
        width: 20%;
        margin-left: 33%;
    }
    50%{
        width: 0;
        margin-left: 53%;    
    }
    50.01%{
        width: 0;
        margin-left: 33%;
    }
    100%{
        width: 20%;
        margin-left: 33%;
    }
}

#container ul{
    margin-left: 80px;
}

#description p{
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    text-align: center;
}
.bouton_question {
    background-color: #f1f1f1;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .bouton_question:hover {
    background-color: midnightblue;
    color: white; 
}

.panel {
    padding: 0 18px;
    background-color: #f1f1f1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.bouton_question:after {
    content: '\25BC'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.bouton_question:after {
    content: "\25BC"; 
}
.question{
    font-weight: bold;
    font-size: 20px;
}
.box{
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    list-style-type: none;
    text-align: center;
    margin-top : 50px;
    margin-bottom: 10px;
    padding: 15px;
}
#description a{
    text-decoration: none;
}

#message p{
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#message label{
	width: 20%;
}
#message input{
	width: 80%;

}

#question{
    padding: 5px;
}

textarea{
    width: 80%;
    padding: 5px;
}
.envoi{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 23%;
}

#formsend{
    padding: 10px;
    font-family: 'Zen Dots', cursive;
    margin-bottom: 10px;
    width: 50%;

}

#formsend:hover{
    border-radius: 3px;
    background: midnightblue;
    color: #f1f1f1;
    transition: all 0.3s ease;
}
#type_question{
	display: flex;
	flex-direction: row;
    margin-left: 30%;
}

@media screen and (max-width: 1024px){
#bloc_page{
	width: auto;
}
nav{
        width: auto;
        text-align: left;
    }
    nav ul{
        flex-direction: column;
    }
	nav li{
        padding-left: 4px;
        padding-bottom: 4px;
    }
    nav a{
        font-size: 1.1em;
    }
	footer{
		flex-direction: column;
 }   
}