*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f1f1f1;
    height: 100vh;


}
#corps{  
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container{
    width: 85%;
    font-family: 'Zen Dots', cursive;
    background: #f1f1f1;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#menu_vertical{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 5%;
    animation: defile 1s ease-out;
    padding-top: 6%; 
    padding-left: 20px;
    background-color: rgba(241,98,42,1);
}


.limenu{
    position: relative;
    height: 70px;
    margin-bottom: 5px;
    
}

#menu_vertical a{
    position: absolute;
    padding-left: 15px;
    display:block;
    padding-bottom: 10px ;
    text-decoration: none;
    background-color: #f1f1f1;
    color: #24131B;
    font-size: 20px;
    width: 80%;
    height: 100%;
    border-top: 8px solid #24131B;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: border-top 0.5s ease;
    transition: bottom 0.5s ease;
    bottom: 0px;
    left: 20px;

}

#menu_vertical a:hover
{
    color: white;
    background-color: #24131B;
    border-top: 8px solid #F1622A;
    bottom: 8px;

}

#info_form{
    width: 60%;
    margin: 2%;
    flex-direction: column;
    align-items: center;
}

#container h1{
    font-size: 22px;
    margin-bottom: 20

}

#container hr {
    width: 20%;
    height: 2px;
    background: #F1622A;
    border: none;
    animation: surligne .5s 1.5s ease-in-out;
}


#info_personnel{
    margin-bottom: 20px;
}

#recapitulatif_info{
    margin: 40px;

}
fieldset{
    padding: 20px;
}


form{

    display: flex;
    flex-direction: column;
}

.info_mp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

fieldset .info_mp label{
    width: 80%;
}

fieldset .info_mp input{
    width: 50%;
    padding: 5px;
}
#bouton_sauvegarde{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

fieldset button{
    width: 40%;
    padding: 10px;
}

#btn_supprime{
    position: relative;
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    width: 100%;
    height: 60px;
 }



#btn_supprime a{
    position: absolute;
    text-align: center;
    text-decoration:none;
    font-size: 18px;
    padding: 15px;
    padding-top: 7px;
    font-family: 'Zen Dots', cursive;
    width: 40%;
    background-color: #24131B;
    color: #f1f1f1;
    border-radius: 3px;
    border-top: 8px solid #24131B;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: border-top 0.3s ease;
    transition: bottom 0.3s ease;
    bottom: 0;

}

#btn_supprime a:hover{
    border-top: 8px solid #F1622A;
    color: #f1f1f1;
    bottom: 5px;
}
#myChart{
    padding: 20px;
margin-left: 100px;
}
#graphique p{
    margin-top: 35px;
}

#graphique{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-right: 70px;
    padding-left: 70px;
    height: 22%;
}
#block_affiche{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#block_affiche p{
    margin-bottom: 40px;
    font-size: 30px;
}
.affiche{
    height: 5%;
    width: 90%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    align-items: center;
    margin-bottom: 20px;
    color:black;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.4s;
    outline: none;
}
.active, .affiche:hover {
    background-color: #24131B;
    color: white; 
}
.panel {
    padding: 0 18px;
    background-color: #f1f1f1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.box{
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    list-style-type: none;
    text-align: center;
    margin-top : 50px;
    margin-bottom: 10px;
    padding: 15px;
}
.affiche p{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}
.affiche img{
    justify-content: center;
    margin-top: 10px;
}
h2{
    margin-top: 40px;
    margin-bottom: 20px;
}
#resultat_test p{
    margin-bottom: 20px;    
}
#resultat_test canvas{
    padding: 30px;
}
@keyframes defile{
    0%{
        width: 0%;
        margin-right: 20%;
        opacity: 0.5;
        white-space:nowrap;
        overflow: hidden;
    }

    100%{
        width: 25%; 
        margin-right: 5%;
        opacity: 1;
        white-space:nowrap;
        overflow: hidden;

    }
}


@media screen and (max-width: 1024px){
#bloc_page{
    width: auto;
}
nav{
        width: auto;
        text-align: left;
    }
    nav ul{
        flex-direction: column;
    }
    nav li{
        padding-left: 4px;
        padding-bottom: 4px;
    }
    nav a{
        font-size: 1.1em;
    }
    footer{
        flex-direction: column;
 }   
}