body{
	background-color: #24131B;;
}
section{
	font-family: 'Zen Dots', cursive;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}
fieldset{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #24131B;
	border: 1px solid black;
	box-shadow: 0px 4px 4px black;
}

fieldset div .info_perso{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#case_civilite{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#case_civilite p{
	margin-right: 80px;
}

#box{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

fieldset input{
	width: 30%;
}

#bas_form{
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	text-align: center;
	border: 1px solid black;
	box-shadow: 0px 4px 4px black;
}

#bas_form input{
	padding: 10px;

}

#champ_info_perso{
	width: 80%;

}

#corps{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


#carte{
	border: black solid 20px;
}
#identification{
	text-align: center;
}
#identification a{
	text-decoration: none;
	color: white;
}
#clegende{
	width: 250px;
	height: 300px;
	color: white;
}


h1{
	text-align: center;
	color: #F1622A;
	margin-bottom: 40px;
	font-weight: bold;
}

/* ONGLET */

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Zen Dots', sans-serif;
}
body {
    background: #f1f1f1;
    height: 100vh;
}



.container {
    position: sticky;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 660px;
    height: 500px;
    background: #f1f1f1;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.container-onglets{
    background: #f1f1f1;
    width: 100%;
    height: 20%;
    display: flex;
    border-bottom: 1px solid #333;
}
.onglets {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}
.onglets:not(:nth-child(3)) {
    border-right: 1px solid #333;
}

.contenu {

    height: 70%;
    width: 100%;
    position: absolute;
    opacity: 0;
}

.contenu img {
    position: sticky;
    margin-left: 25%;
    width: 500px;
    height: 200px;
}


.contenu h3 {
    padding: 20px;
}
.contenu hr {
    width: 20%;
    height: 2px;
    margin-left: 20px;
    background: #000;
    border: none;
}
.contenu p {
    padding: 20px;
}

.contenu a {
    padding: 20px;
}

/* Anim */

.active {
    background: midnightblue;
    color: #f1f1f1;
    transition: all 0.3s ease;
}

.activeContenu {
    animation: fade 0.5s forwards;
}


/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  position: absolute;
  
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  font-family: 'Zen Dots', cursive;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
  font-family: 'Zen Dots';
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}


@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media screen and (max-width: 1024px){
#bloc_page{
	width: auto;
}
nav{
        width: auto;
        text-align: left;
    }
    nav ul{
        flex-direction: column;
    }
	nav li{
        padding-left: 4px;
        padding-bottom: 4px;
    }
    nav a{
        font-size: 1.1em;
    }
	footer{
		flex-direction: column;
 }   
}